@import './project.css';
@import './presentation.css';
@import './contact.css';

html, body {
    padding: 0px;
    margin: 0px;
    background-color: black;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.scroller {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.scroller > div {
    scroll-snap-align: start;
}
