.presentation {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    position: absolute;
}

.presentation h1 {
    font-size: 4rem;
    margin: 1rem;
}

.bgLeft {
    background-position: left top;
}

@media only screen and (max-width: 768px) {
    .presentation h1 {
        font-size: 1.5rem;
    }
}
